Repository CodeAgainstRacism/codeagainstracism.org, pull requests merged in 2020-08, with the labels that each got.

#54 Changed bcrypt dependency to bcryptjs
  backend/package-lock.json
  backend/package.json
  backend/src/utils/utils.spec.ts
  backend/src/utils/utils.ts
Labels: backend, bug

#57 Added auth/signup route
  backend/src/auth/auth.controller.ts
Labels: backend

#58 Updated readme cover image 🌄
  README.md
Labels: documentation

#62 📕 Added missing swagger documentation
  backend/src/auth/auth.controller.ts
  backend/src/organizations/organization.entity.ts
  backend/src/organizations/organizations.controller.ts
  backend/src/projects/projects.controller.ts
  backend/src/users/user.entity.ts
  backend/src/users/users.controller.ts
Labels: backend

#33 Feature/fe sign log
  frontend/package-lock.json
  frontend/package.json
  frontend/public/avatar.png
  frontend/public/google.svg
  frontend/src/App.js
  frontend/src/assets/Hand waving.png
  frontend/src/assets/SignUpImage.png
  frontend/src/assets/avatar.png
  frontend/src/assets/create_a_team.png
  frontend/src/components/AuthForm.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/NavBar.jsx
  frontend/src/components/SignInButtons.jsx
  frontend/src/components/SignUpIndividual.jsx
  frontend/src/components/SignUpOrganization.jsx
  frontend/src/pages/AccountRecovery.jsx
  frontend/src/pages/Forms/NewOrganizationForm.jsx
  frontend/src/pages/Forms/NewProjectForm.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/LogIn.jsx
  frontend/src/pages/NewProjectForm.jsx
  frontend/src/pages/SignUp.jsx
  frontend/src/pages/UserType.jsx
  frontend/src/pages/VerticalNavBar.jsx
  frontend/src/pages/history.js
  frontend/src/styles/components/_buttons.scss
  frontend/src/styles/components/_container.scss
  frontend/src/styles/components/_forms.scss
  frontend/src/styles/components/_navbar.scss
  frontend/src/styles/styles.scss
  frontend/src/theme.js
Labels: frontend

#68 Feature/project likes
  backend/src/projects/project.entity.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.service.ts
  backend/src/users/user.entity.ts
  backend/src/users/users.service.ts
Labels: backend
